<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>
@font-face {

	font-family: 'GothamLig'; 
font-style: normal;
font-weight: 100;
	src: local('Gotham'),

		url(/fonts/GothaProLig.otf); 

}
@font-face {

	font-family: 'Gotham'; 
font-style: normal;

	font-weight: bold;
	src: local('Gotham'),

		url(/fonts/GothaProBol.otf); 

}
@font-face {

	font-family: 'GothamMed'; 
font-style: normal;

	font-weight: 300;
	src: local('Gotham'),

		url(/fonts/GothaProMed.otf); 

}
@font-face {

	font-family: 'Gilroy'; 
font-style: normal;

	font-weight: bold;
	src: local('Gilroy'),
  url(/fonts/Gilroy-Regular.eot),
  url(/fonts/Gilroy-Regular.woff),

		url(/fonts/Gilroy-Regular.ttf); 

}

body{
  border: none;
padding: 0px;
margin: 0px;
}
html {
 
border: none;

margin: 0px;
padding: 0px;
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
