<template>
  <div class="container">
    <div class="header">
<img class="lentalogo" src="..\static\lenta.png" alt=""> 
<hr>
<img class="logohaba" src="..\static\logo.png" alt="">
<div class="text1">
<p>правила</p>
<p>об акции</p></div>
    </div>

    <div class="hand">
      

  <p>протяни руку <br>
помощи</p>
    <img class="handsmob" src="..\static\hands2.png" alt="">
<div class="logos">
<img src="../static/schwar.png" alt="">
<img src="../static/syoss.png" alt="">
<img src="../static/fa.png" alt="">
<img src="../static/barnangen.png" alt="">
<img src="../static/shamtu.png" alt="">
    </div>
</div>



    <div class="content">
<p>C 26 декабря по 14 февраля покупайте продукцию Henkel</p>
<img class="logohab" src="..\static\logo.png" alt="">
<img class="shamps" src="..\static\shamp.png" alt="">
    </div>
    <div class="purpletext">
      <p>3 500 000 рублей <br> будут направлены на помощь детям <br> в Фонд Константина Хабенского</p>
    </div>
    <div class="footer">
      <div class="logos2">
      <img src="../static/schwar.png" alt="">
<img src="../static/syoss.png" alt="">
<img src="../static/fa.png" alt="">
<img src="../static/barnangen.png" alt="">
<img src="../static/shamtu.png" alt=""> </div>
<div class="text2">
<p>правила</p>
</div>

    </div>
    <div class="podval">
  <p>Сроки приобретения товаров с 26 декабря 2019 года по 14 февраля 2020 года. Общий срок проведения Акции  с 26 декабря 2019 года по 29 февраля 2020 года. Полная информация об Организаторе  и правилах проведения Акции дана на сайте www.blago-beauty.ru Горячая линия Акции 8 800 500 80 08. Звонок по России бесплатный. Время работы: ежедневно с 9:00 до 21:00 по московскому времени. </p>
</div>
    </div>
</template>

<script>
export default {}
</script>

<style>
.container {
  
border: none;

margin: 0px;
padding: 0px;
}
.header {
padding: 2%;
  display: flex;
  
}
hr {
  margin: 1%;
width: 1px;
height: 4rem;

}
.lentalogo{
  width: 20%;
}
.logohaba {
  width: 30%;
}
.header  img{
  
  margin: 1rem;
 
  height: 10%;
}


.text1{
  text-align: right;
  width: 100%;
}
.text1 p{
  font-family: 'Gotham'; 
text-transform: uppercase ;

	font-weight: bold;
text-align: right;
  display: inline-flex;
  font-size: 22px;
   margin: 3% ;
   font-style: Bold; 
 font-weight: 700;
 color: #683686;
}
.hand{
  
  box-shadow: inset 0px  4px 4px  rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
  display:  grid;
  background-color: #D5E4EF;
  background-image:url(..\static\hands.png) ;
  background-repeat: no-repeat ;
  background-position: right;
}

.hand img{
  display: inline-flex;
}
.hand p {
   font-family: 'Gilroy'; 
 text-transform: uppercase ;
  font-size: 100px;
   margin: 15% 5%;
   font-style: Bold; 
 font-weight: 700;
 color: #683686;
}
.logos{
  
 display: inline-flex;
 
  width: 50%;
  
}
.handsmob{
  width: 0%;
}
.logos img{
 display: inline-flex;
 
   height: 30%;
  margin-left: 5%;
}
.content{
  font-family: 'Gilroy'; 
 text-transform: uppercase ;
  display: grid;
  text-align: center;
   font-size: 40px;
   padding: 5%;
   font-style: Bold; 
 font-weight: 700;
  
}
.logohab{
  left: 34%;
}
.shamps {
  left: 20%;
}
.content img {
  position: relative;
  margin: 2% 0;
}

.purpletext{
font-family: 'GothamMed'; 
font-style: normal;

	font-weight: normal;
 text-transform: uppercase ;
  background-color:#683686 ;
  text-align: center;
   font-size: 40px;
   padding: 1%;
 color: white;
}
.footer {
  margin: 2%;
  display: flex;
  
  justify-content: space-between;
}
.logos2{
  
 display: inline-flex;
  justify-content: space-between;
  width: 50%;
  
}
.logos2 img{
 display: inline-flex;
  height: 30%;
  margin-left: 5%;
}
.text2{
  text-align: right;
  width: 100%;
}
.text2 p{
  font-family: 'Gotham'; 
text-transform: uppercase ;

	font-weight: bold;
text-align: right;
  display: inline-flex;
  font-size: 22px;
   margin: 3% ;
   font-style: Bold; 
 font-weight: 700;
 color: #683686;
}
.podval {
  font-family: 'GothamLig'; 

font-weight: 300;
  text-align: center;
  font-size: 16px;
   padding: 1%;
}
@media only screen and (max-width: 360px) {
  .lentalogo{
  width: 100%;
}
.logohaba {
  width: 100%;
}
  .header img{
    width: 100%;
  }
  hr{
    width: 0.5px;
  }
  .text1{
  text-align: right;
  width: 0%;
}
  .text1 p{

  font-size: 0px;
 
}
  .hand{
     display:  grid;
background-image:none ;
  background-repeat: no-repeat ;
  background-position: center;}


.hand p {
   font-family: 'Gilroy'; 
 text-transform: uppercase ;
  font-size: 40px;
   margin: 15% 5%;
   font-style: Bold; 
 font-weight: 700;
 color: #683686;
}

.logos{
  
 display: grid;
 
  width: 10%;
  
}
.handsmob{
  width: 100%;
}
.logos img{
 display: inline-flex;
 
   height: 33%;
  margin-left: 5%;
}

.content{

  display: grid;
  text-align: center;
   font-size: 18px;
   padding: 10%;
   font-style: Bold; 
 font-weight: 700;
  
}
.logohab{
  left: 15%;
  padding: 2%;
  width: 80%;
}
.shamps {
  left: 0%;
   padding: 2%;
  width: 100%;
}
.content img {
  position: relative;
  height: 100%;
  margin: 2%;
}

.purpletext{
font-family: 'GothamMed'; 
font-style: normal;

	font-weight: normal;
 text-transform: uppercase ;
  background-color:#683686 ;
  text-align: center;
   font-size: 20px;
   padding: 1%;
 color: white;
}

.footer {
  margin: 2%;
  display: inline;
}
.logos2{
  display: inline;
  text-align: center;
  position: relative;
  text-align: center;
  width: 10%;
  
}
.logos2 img{
 display: inline-flex;
  height: 10%;
  margin-left: 5%;
}

.podval {
  
  text-align: left;
  font-size: 14px;
  line-height: 150%;
}
.text2{
  text-align: center;
  width: 100%;
}
.text2 p{

text-align: center;
  display: inline;
  font-size: 22px;
   margin: 3% ;
 
}
}
</style>
